@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Semibold-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1px;
  text-transform: uppercase;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Bold-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px; /* 126.471% */
  letter-spacing: 0.25px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Regular-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Regular-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Medium-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */
  letter-spacing: 0.15px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Regular-Trial.otf")
    format("otf");
}

@font-face {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  src: url("/assets/fonts/Graphik/Graphik_Family/Graphik-Semibold-Trial.otf")
    format("otf");
}

.body_subtitle2 {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.body_overline {
  font-family: "Graphik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 1px;
  text-transform: uppercase;
  font-feature-settings: "clig" off, "liga" off;
}

.heading_h4 {
  font-family: "Graphik", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 43px; /* 126.471% */
  letter-spacing: 0.25px;
  font-feature-settings: "clig" off, "liga" off;
}

.body_body1 {
  font-family: "Graphik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.15px;
}

.body_body2 {
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
}

.heading_h5 {
  font-family: "Graphik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  font-feature-settings: "clig" off, "liga" off;
}

.heading_h6 {
  font-family: "Graphik", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 125% */
  letter-spacing: 0.15px;
  font-feature-settings: "clig" off, "liga" off;
}

.body_underline1 {
  font-family: "Graphik", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.15px;
  text-decoration-line: underline;
}

.body_showmore {
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Graphik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  text-decoration-line: underline;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #0036c3;
  /* border-radius: 3px; */
}

@media (max-width: 1440px) {
  .body_body1 {
    font-size: 18px;
  }
  .heading_h6 {
    font-size: 19px;
  }
}

@media (max-width: 1024px) {
  .body_subtitle2 {
    font-size: 14px;
  }
  .heading_h4 {
    font-size: 30px;
  }
  .body_body2 {
    font-size: 14px;
  }
  .heading_h5 {
    font-size: 22px;
  }
  .body_underline1 {
    font-size: 18px;
  }
  .body_body1 {
    font-size: 16px;
  }
  .body_overline {
    font-size: 11px;
  }
  .heading_h6 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .body_subtitle2 {
    font-size: 14px;
  }
  .heading_h4 {
    font-size: 28px;
  }
  .body_body2 {
    font-size: 13px;
  }
  .heading_h5 {
    font-size: 20px;
  }
  .body_body1 {
    font-size: 14px;
  }
  .heading_h6 {
    font-size: 17px;
  }
  .body_showmore {
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .body_subtitle2 {
    font-size: 12px;
  }
  .heading_h4 {
    font-size: 25px;
  }
  .body_body2 {
    font-size: 12px;
  }
  .heading_h5 {
    font-size: 18px;
  }
  .body_underline1 {
    font-size: 16px;
  }
  .body_overline {
    font-size: 10px;
  }
  .body_body1 {
    font-size: 12px;
  }
  .heading_h6 {
    font-size: 16px;
  }
  .body_showmore {
    font-size: 12px;
  }
}
